body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--primary-color-1);
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
 
} 

.profile-card {
   background-color: #fff;
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
   width: 350px;
   position: relative;
}

.profile-card .card-image {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.photo {
    display: flex;
    justify-content:center;
    align-items: center; 
    position: absolute;
    top: 90px;   
}

.photo .avatar {
    border-radius: 50%;
}

.card-info {
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    padding-bottom: 15px;
    width: 95%;
    border-bottom: 1px solid #000;
}

.card-info .age {
    color: var(--primary-color-3);
}

.card-info .city {
    color: var(--primary-color-3);
}

.profile-card .profile-numbers{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 10px;
}

.profile-card .counter {
    font-weight: 700;
}